body {
    font-family: Arial;
    background-color: #85a6ae; }
h1 {
    color: #000000;
    background-color:#79819f; 
    padding: 20px;}
p{
    margin: 20px;
}
img {
    float: right;
    margin: 12px;
    border: solid white 2px;
}

h2{
    color: #000000;
    background-color:#79819f; 
    padding: 10px;}

